DATABASE_URL="postgresql://postgres:password@localhost:5432/tidur_plus_db"
JWT_SECRET=ganti_dengan_secret_panjang_random
JWT_REFRESH_SECRET=ganti_dengan_refresh_secret_panjang_random
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
GOOGLE_CLIENT_ID=dari_google_cloud_console
GOOGLE_CLIENT_SECRET=dari_google_cloud_console
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
FRONTEND_URL=http://localhost:5173
PORT=3000
UPLOAD_DIR=./uploads
