DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tidur_plus_db"
JWT_SECRET=rahasia_super_aman_sekali
JWT_REFRESH_SECRET=rahasia_refresh_token_super_aman

ADMIN_EMAIL=admin@tidurplus.id
ADMIN_PASSWORD=admin123
SUPER_ADMIN_EMAIL=superadmin@tidurplus.id
SUPER_ADMIN_PASSWORD=superadmin123
