@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    
    /* Warna Utama (Primary) - Biru ala BOBO+ */
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    
    /* Warna Sekunder */
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    /* Warna Destructive (Untuk Hapus/Denda) */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    /* Radius untuk melengkungkan sudut komponen (Design System) */
    --radius: 0.75rem; 
  }

  /* Animasi bawaan untuk transisi halaman yang mulus */
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-background text-foreground antialiased;
  }
}